# This collection is from the Kaggle tutorial of pandas

In [1]:
import numpy as np
import pandas as pd

### Source: https://www.kaggle.com/learn/pandas
#### Section 1: Creating, Reading and Writing
#### Section 2: Indexing, Selecting & Assigning
#### Section 3: Summary Functions and Maps
#### Section 4: Grouping and Sorting
#### Section 5: Data Types and Missing Values
#### Section 6: Renaming and Combining

## Section 1: Creating, Reading and Writing

In [5]:
#### Dictionary:
#### Dictionary whose keys are column names, values are a list of entries

In [3]:
# It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

pd.DataFrame({'Yes':[50, 21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [7]:
## The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [60]:
a_df = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

In [62]:
a_df

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [65]:
a_df[a_df['Sue']=='Pretty good.']['Bob'][0]

'I liked it.'

#### Pandas series, a sequence of data values

In [10]:
pd.Series([1,2,3,45], name='Number')

0     1
1     2
2     3
3    45
Name: Number, dtype: int64

In [11]:
# Using "index" parameter and "name" parameter
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [14]:
# Creating pandas df with series
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
pd.Series([40, 45, 50], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product B')

df = pd.DataFrame()
df['Product A'] = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
df['Product B'] = pd.Series([40, 45, 50], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product B')

df

            Product A  Product B
2015 Sales         30         40
2016 Sales         35         45
2017 Sales         40         50

#### Reading data files

In [15]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../input/wine-reviews/winemag-data-130k-v2.csv'

In [16]:
wine_reviews.shape

NameError: name 'wine_reviews' is not defined

## Section 2: Indexing, Selecting & Assigning

In [17]:
## Data frame
df_reviews

NameError: name 'df_review' is not defined

In [20]:
reviews.country #  a specific column
reviews['country']

NameError: name 'reviews' is not defined

In [21]:
reviews['country'][0] # a specific cell

NameError: name 'reviews' is not defined

In [22]:
#### Indexing in pandas
#### Indexing operator and atribute seleciton 
### accessor operators: loc, iloc

In [31]:
## Both loc and iloc are row-first, column-second. Opposite of what we do in native python, which is column-first, row-second
reviews.iloc[0]

NameError: name 'reviews' is not defined

In [32]:
reviews.iloc[:, 0]

NameError: name 'reviews' is not defined

In [33]:
reviews.iloc[:3, 0]

NameError: name 'reviews' is not defined

In [34]:
reviews.iloc[1:3, 0]

NameError: name 'reviews' is not defined

In [35]:
reviews.iloc[[0, 1, 2], 0]

NameError: name 'reviews' is not defined

In [36]:
reviews.iloc[-5:]

NameError: name 'reviews' is not defined

#### Label-based selection

In [37]:
reviews.loc[0, 'country']

NameError: name 'reviews' is not defined

In [38]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

NameError: name 'reviews' is not defined

In [39]:
### iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. 
### loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

#### Manipulate the index

In [40]:
reviews.set_index("title")

NameError: name 'reviews' is not defined

In [41]:
reviews.loc[reviews.country == 'Italy']

NameError: name 'reviews' is not defined

In [43]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

reviews.loc[reviews.country.isin(['Italy', 'France'])]

reviews.loc[reviews.price.notnull()]

NameError: name 'reviews' is not defined

In [44]:
## Assigns to every row in the column

reviews['critic'] = 'everyone'
reviews['critic']

NameError: name 'reviews' is not defined

In [45]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

NameError: name 'reviews' is not defined

In [46]:
df = reviews.loc[0:99,['country', 'variety']]

NameError: name 'reviews' is not defined

## Section 3: Summary Functions and Maps

In [48]:
reviews.points.describe()
reviews.taster_name.describe()

NameError: name 'reviews' is not defined

In [49]:
reviews.points.mean()
reviews.taster_name.unique()
reviews.taster_name.value_counts()

NameError: name 'reviews' is not defined

#### Map

In [50]:
## A function that takes one set of values and 'maps' the to another set of vales
## Transforming data from the format now to we want to be later

In [52]:
## Lambda expect a single value from the Series (a point value), and returns a transformed version fo that value

review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

NameError: name 'reviews' is not defined

In [53]:
## Tansform a whole DataFrame by calling a custom method on each row

def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns') ## alternative axis='index'

NameError: name 'reviews' is not defined

In [56]:
## In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) 
## and a single value on the right-hand side (the mean value).

review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

NameError: name 'reviews' is not defined

In [58]:
## These operators are faster than map() or apply() because they use speed ups built into pandas. 
## All of the standard Python operators (>, <, ==, and so on) work in this manner.

reviews.country + " - " + reviews.region_1

NameError: name 'reviews' is not defined

### Very Important

In [67]:
## I'm an economical wine buyer. Which wine is the "best bargain"? 
## Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

bargain_idx = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']

NameError: name 'reviews' is not defined

In [68]:
tropical_count = reviews[reviews['description'].str.contains("tropical")]['title'].count()
fruity_count = reviews[reviews['description'].str.contains("fruity")]['title'].count()
descriptor_counts = pd.Series([tropical_count, fruity_count], index=['tropical', 'fruity'])


Solution:

n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])

SyntaxError: invalid syntax (2669630635.py, line 6)

In [69]:
def points_to_star(row):
    if row.country == 'Canada':
        star_ratings = 3
    elif row.points >=95:
        star_ratings = 3
    elif row.points >=85 and row.points <95 :
        star_ratings = 2
    else:
        star_ratings = 1
    return star_ratings
    

star_ratings = reviews.apply(points_to_star, axis='columns')

NameError: name 'reviews' is not defined

### Section 4: Grouping and Sorting

In [70]:
reviews.groupby('points').points.count()
## can also use value_counts()


reviews.groupby('points').price.min()

NameError: name 'reviews' is not defined

In [72]:
# You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. 
# This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit.
# For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

# here's how we would pick out the best wine by country and province:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

NameError: name 'reviews' is not defined

In [73]:
## agg(), which lets you run a bunch of different functions on your DF simultaneously
reviews.groupby(['country']).price.agg([len, min, max])

NameError: name 'reviews' is not defined

#### Multi-indexes

In [74]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
mi = countries_reviewed.index

## Deal with multi-indexes issue
### They require two levels of lables to retrieve a value
### Multi-index: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

NameError: name 'reviews' is not defined

In [75]:
countries_reviewed.reset_index()

NameError: name 'countries_reviewed' is not defined

#### sorting

In [78]:
countries_reviewed.sort_values(by='len')
countries_reviewed.sort_values(by='len', ascending=False)
countries_reviewed.sort_index()

###
countries_reviewed.sort_values(by=['country', 'len'])

NameError: name 'countries_reviewed' is not defined

In [79]:
## Sort the values by price, where price is the index here after groupby

best_rating_per_price = reviews.groupby('price').points.max().sort_index()

NameError: name 'reviews' is not defined

In [81]:
## size(): Return an int representing the number of elements in this object.

country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

NameError: name 'reviews' is not defined

## Section 5: Data Types and Missing Values

In [1]:
## Dtypes
reviews.price.dtype

NameError: name 'reviews' is not defined

In [2]:
reviews.dtypes

NameError: name 'reviews' is not defined

#### Note: columns consisting entirely of strings do not get their own type, they are instead given the "object" type

In [3]:
# Turn 'int64' to 'float64'
reviews.points.astype('float64')

NameError: name 'reviews' is not defined

In [4]:
# index also has its own dtype
reviews.index.dtype

NameError: name 'reviews' is not defined

In [5]:
# pandas also supports categorical data and timeseries data.

#### Missing data

In [6]:
## NaN: entries missing values are given NaN, short for "Not a Number"
## These "NaN" values are always of the "float64" dtype. 
reviews[pd.isnull(reviews.country)]
reviews[pd.notnull(reviews.country)]

NameError: name 'reviews' is not defined

In [7]:
reviews.region_2.fillna("Unknown")

NameError: name 'reviews' is not defined

In [8]:
### Backfill strategy
### we could fill each missing value with the first non-null value that appears sometime after the given record in the database. This is known as the backfill strategy.

In [9]:
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

NameError: name 'reviews' is not defined

## Section 6: Renaming and Combining

In [10]:
reviews.rename(columns={'points': 'score'})

NameError: name 'reviews' is not defined

In [11]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

NameError: name 'reviews' is not defined

In [12]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

NameError: name 'reviews' is not defined

#### Combine

In [15]:
# Simplest combining method id concat(), smush elements togehte ralong an axis 

pd.concat([canadian_youtube, british_youtube])

NameError: name 'pd' is not defined

In [16]:
# The middlemost combiner in terms of complexity is join()
# join() lets you combine different DF objects which have an index in common

left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

NameError: name 'canadian_youtube' is not defined

In [17]:
## Must set_index() with the same column for index in both tables
powerlifting_combined = powerlifting_meets.set_index(['MeetID']).join(powerlifting_competitors.set_index(['MeetID']))

NameError: name 'powerlifting_meets' is not defined